.bootstrap-twuix {
  .bg-variant(@backgroundColor; @color) {
    background-color: @backgroundColor;
    color: @color;
  }

  .bg-primary {
    .bg-variant(@bg-primary-bg, @bg-primary-color);
  }

  .bg-secondary {
    .bg-variant(@bg-secondary-bg, @bg-secondary-color);
  }

  .bg-dark {
    .bg-variant(@bg-dark-bg, @bg-dark-color);
  }

  .bg-gray {
    .bg-variant(@bg-gray-bg, @bg-gray-color);
  }
}