.bootstrap-twuix {
  .padding-xs { padding: @spacer }
  .padding-sm { padding: (@spacer * 2) }
  .padding { padding: (@spacer * 3) }
  .padding-lg { padding: (@spacer * 4) }

  .margin-xs { margin: @spacer }
  .margin-sm { margin: (@spacer * 2) }
  .margin { margin: (@spacer * 3) }
  .margin-lg { margin: (@spacer * 4) }

  .proportional-padding-xs { padding: @proportional-spacer }
  .proportional-padding-sm { padding: (@proportional-spacer * 2) }
  .proportional-padding-md { padding: (@proportional-spacer * 3) }
  .proportional-padding-lg { padding: (@proportional-spacer * 4) }

  .nowrap {
    white-space: nowrap;
  }

  // Responsive propotionnal paddings
  // todo

  // Responsive fixed paddings
  .padding-xs-xs { padding: @spacer }
  .padding-xs-sm { padding: (@spacer * 2) }
  .padding-xs-md { padding: (@spacer * 3) }
  .padding-xs-lg { padding: (@spacer * 4) }

  .padding-sm-xs {
    padding: @spacer
  }

  .padding-sm-sm {
    padding: @spacer
  }

  .padding-sm-md {
    padding: (@spacer * 2)
  }

  .padding-sm-lg {
    padding: (@spacer * 3)
  }

  .padding-md-xs {
    padding: @spacer
  }

  .padding-md-sm {
    padding: @spacer
  }

  .padding-md-md {
    padding: @spacer
  }

  .padding-md-lg {
    padding: (@spacer * 2)
  }

  .padding-lg-xs {
    padding: @spacer
  }

  .padding-lg-sm {
    padding: @spacer
  }

  .padding-lg-md {
    padding: @spacer
  }

  .padding-lg-lg {
    padding: @spacer
  }

  @media (min-width: @screen-sm-min) {
    .padding-sm-sm {
      padding: (@spacer * 2)
    }

    .padding-sm-md {
      padding: (@spacer * 3)
    }

    .padding-sm-lg {
      padding: (@spacer * 4)
    }

    .padding-md-xs {
      padding: @spacer
    }

    .padding-md-sm {
      padding: @spacer
    }

    .padding-md-md {
      padding: (@spacer * 2)
    }

    .padding-md-lg {
      padding: (@spacer * 3)
    }

    .padding-lg-xs {
      padding: @spacer
    }

    .padding-lg-sm {
      padding: @spacer
    }

    .padding-lg-md {
      padding: @spacer
    }

    .padding-lg-lg {
      padding: (@spacer * 2)
    }
  }

  @media (min-width: @screen-md-min) {
    .padding-md-xs {
      padding: @spacer
    }

    .padding-md-sm {
      padding: (@spacer * 2)
    }

    .padding-md-md {
      padding: (@spacer * 3)
    }

    .padding-md-lg {
      padding: (@spacer * 4)
    }

    .padding-lg-xs {
      padding: @spacer
    }

    .padding-lg-sm {
      padding: @spacer
    }

    .padding-lg-md {
      padding: (@spacer * 2)
    }

    .padding-lg-lg {
      padding: (@spacer * 3)
    }
  }

  @media (min-width: @screen-lg-min) {
    .padding-lg-xs {
      padding: @spacer
    }

    .padding-lg-sm {
      padding: (@spacer * 2)
    }

    .padding-lg-md {
      padding: (@spacer * 3)
    }

    .padding-lg-lg {
      padding: (@spacer * 4)
    }
  }
}